session_name.session
scrapePumpFun.cpython-312.pyc
coins/
__pycache__/
seen_addresses.json
.env
.idea
old/
venv/
shitcoins.egg-info/dependency_links.txt
shitcoins.egg-info/PKG-INFO
shitcoins.egg-info/requires.txt
shitcoins.egg-info/SOURCES.txt
shitcoins.egg-info/top_level.txt

venv/
shitcoins.egg-info
build/